body {
  background-image: url("password.jpg");
  background-size: cover;
}
::-webkit-scrollbar {
  display: none;
}
#main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  justify-items: center;
  background-color: rgba(19, 19, 19, 0.699);
  margin: -10px;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: rgb(217, 219, 94) 1px solid;
  width: 370px;
  height: auto;
  padding: 10px;
  margin: 100px;
  background-color: rgb(3, 1, 15);
  color: white;
  border-radius: 20px;
  box-shadow: 0 0 20px rgb(217, 219, 94);
}

.setting {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  font-size: large;
}
#result-container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(29, 33, 53);
  border: rgb(24, 23, 39) solid 1px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  width: 90%;
  box-shadow: 0 0 5px rgb(217, 219, 94);
}
#result {
  height: 20px;
  color: gold;
}

.btn {
  padding: 10px;
  background-color: rgb(3, 1, 22);
  color: white;
  border-radius: 7px;
}
.btn:hover {
  background-color: rgb(24, 24, 48);
  box-shadow: 0 0 3px rgb(217, 219, 94);
}

#generate {
  font-size: larger;
  width: 95%;
  margin: 10px;
  margin-top: -5px;
}
.settings {
  border-radius: 10px;
  border: solid 1px rgb(21, 17, 53);
  background-color: rgb(0, 5, 31);
  padding: 10px;
  background-color: rgb(10, 13, 26);
}

#content {
  color: white;
  font-style: italic;
  font-size: xx-large;
  margin: 20px;
  padding: 20px;
}
#message {
  color: gold;
}

@media screen and (max-width: 500px) {
  .result-container,
  .content,
  #settings,
  #message,
  .result-container {
    font-size: 70%;
  }
  .container,
  #slide,
  .result-container {
    width: 80%;
    margin: 0px;
  }
  #settings,
  .setting {
    width: 80%;
    margin: auto;
  }
  #message,
  .result-container,
  .container {
    display: flex;
    flex-flow: column wrap;
    width: 80%;
    margin: auto;
  }
  .container {
    height: max-content;
    margin: auto;
  }
  #content {
    font-size: 95%;
  }
  h1 {
    font-size: x-large;
    text-align: center;
  }
}
@media screen and (max-width: 950px) {
  #main {
    display: flex;
    flex-flow: column wrap;
  }
}
